<h1>All Artists</h1>

<% @artists.order("created_at").each do |artist| %>
    <p><a href="/artists/<%= artist.id %>"><%= artist.name %></a> (Created At <%= artist.created_at%>)</p>
<% end %>

<a href="/artists/new">New Artist</a>