<h1>Welcome to IMDb: The Internet Music Database*</h1>

<h3>Artists</h3>
<ul>
  <li><a href="/artists">Artist Index</a></li>
  <li><a href="/artists/new">New Artist</a></li>
</ul>

<h3>Albums</h3>
<ul>
  <li><a href="/albums">Album Index</a></li>
</ul>

<h6>*No affiliation with IMDb: The Internet Movie Database</h6>