<form action="/artists/<%= @artist.id %>/albums" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">Album Title:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="number_of_songs">Number of Songs:</label><br>
  <input type="text" id="number_of_songs" name="number_of_songs"><br>
  <label for="year_released">Year Released:</label><br>
  <input type="text" id="year_released" name="year_released"><br>
  <label for="ep">EP?</label><br>
  <input type="checkbox" id="ep" name="ep"><br>
  <input type='submit' value="Create Album"/>
</form>